.primary {
  font-family: "Ranchers", cursive;
  color: rgb(104, 60, 6);
}
.primary-bg {
  background-color: rgb(184, 168, 149);
}

.secondary {
  font-family: "Ranchers", cursive;
  color: rgb(184, 168, 149);
}
.secondary-bg {
  background-color: rgb(104, 60, 6);
}

.btn:hover {
  background-color: rgb(136, 76, 3);
  color: rgb(136, 119, 97);
}